registry=https://npm.paypal.com/
phantomjs_cdnurl=http://devtoolslvs01.qa.paypal.com/~joechen/phantomjs/downloads
user-agent=node/v6.10.0 linux x64

# Paypal's In-house mirror for Chromium Snapshots
# Please reach out to @bryalee or @abhimasingh, if it does not work,
# Alternatively, can be set to below option
# puppeteer_download_host=http://metmo-service-instance.pp-devcos-metmo-indiapd.us-central1.gcp.dev.paypalinc.com:7050

# Google's api storage for Chromium Snapshots
# puppeteer_download_host=https://commondatastorage.googleapis.com
puppeteer_download_host=https://storage.googleapis.com

# Alternative Host for puppeteer download `an inhouse solution`
# puppeteer_download_host=http://metmo-service-instance.pp-devcos-metmo-indiapd.us-central1.gcp.dev.paypalinc.com:6060
unsafe-perm=true